@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  filter: saturate(50%);
  background: linear-gradient(0deg, #b13cff, #dd45d3 50%, #fd9d52);
}

/* LOADER */
.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5rem;
  text-align: left;
}
p {
  color: white;
}
/* FORM */
.form {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem 0;
}
.search-container {
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  display: block;
  margin: 0 auto;
}
input#search-bar {
  margin: 0 auto;
  width: 70%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
}
input#search-bar:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #008abf;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
button {
  height: 45px;
  background-color: #b13cff;
  border: none;
  color: white;
  padding: 0.6rem 2rem;
  font-size: 0.9rem;
}
button:focus,
button:active {
  outline: none;
}

/* CARD */
.card {
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0 3px 6px #00000057;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: white;
}
.card h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.card h5,
p,
span {
  margin: 0.6rem 0;
}
.card .card-image img {
  width: 100%;
  /* height: auto; */
}
.author,
span {
  text-transform: capitalize;
}
.hide {
  display: none;
}
.show {
  display: inline;
}

/* MEDIA QUERIES */

/* Small devices (375px and down) */
@media only screen and (max-width: 806px) {
  .wrapper {
    display: block;
  }
  .search-container {
    display: block;
  }
  input#search-bar,
  button {
    width: 80%;
    margin: 0.5rem 0;
  }
}

/* Medium devices (900px and 375px) */
@media only screen and (min-width: 376px) and (max-width: 900px) {
  .wrapper {
    display: block;
  }
  input#search-bar {
    width: 80%;
  }
}
